# Ignore Python compiled files
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
env/
.venv/

# Ignore dataset files (if not included in the repo)
*.csv
*.h5
*.npy
*.pkl
*.zip
*.gz

# Ignore IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and outputs
*.log
*.out
